/* FONTS */
@font-face
{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;

    src: local('Ubuntu'), url(fonts/ubuntu.woff2) format('woff2'), url(fonts/ubuntu.woff) format('woff');
}
@font-face
{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: italic;

    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(fonts/ubuntu_italic.woff2) format('woff2'), url(fonts/ubuntu_italic.woff) format('woff');
}

html
{
    height: 1px;
    min-height: 100%;
}
.b-page
{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

    height: 9500px;
    min-height: 100%;
    margin: 0;

    background: url(images/geometry.png) repeat top left;
    background-attachment: fixed;
}
.indicator
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;

    -webkit-transform: scale3d(0,1,1);
            transform: scale3d(0,1,1);

    opacity: .25;
    background: #000;

    will-change: scale;
}
.header
{
    font-weight: bold;
    line-height: 1;

    display: inline-block;

    margin: 0;
    padding: 0;

    color: #8c84ed;
}
.header_lvl_1
{
    font-size: 40px;
}
.header_lvl_2
{
    font-size: 26px;
}
.code
{
    font-family: monospace;
    line-height: 2em;

    overflow: auto;

    padding: 7px;

    white-space: pre;

    background: #fff;
}
.label
{
    font-size: .85em;
}
.screen
{
    width: 100%;
    min-height: 100%;
}

.screen_num_1
{
    position: fixed;
    top: 0;
    left: 0;

    -webkit-transform: translate3d(0, 0, 0) perspective(2000px);
            transform: translate3d(0, 0, 0) perspective(2000px);

    -webkit-perspective: 2000px;
            perspective: 2000px;
    will-change: top;
}

.screen_num_1 .screen__header
{
    font-size: 150px;

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    margin: 0;

    -webkit-transform: scale(0) translateZ(0);
            transform: scale(0) translateZ(0);
    text-align: center;

    will-change: top, scale;
}

.screen__slogan
{
    font-size: 16px;

    position: absolute;
    top: 20%;
    left: -100%;

    display: inline-block;

    width: 100%;

    -webkit-transform: translate3d(0, 125px, 0);
            transform: translate3d(0, 125px, 0);
    text-align: center;

    color: #8a8a8a;
}
.screen__step
{
    visibility: hidden;

    max-width: 800px;
    margin: 25px auto;
    padding: 10px;

    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;

    border-radius: 5px;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(0) rotate3d(1, 0, 0, 90deg);
            transform: translateZ(0) rotate3d(1, 0, 0, 90deg);
}
.screen__step .code
{
    border-radius: 5px;
}
.screen__step_color_white
{

    border: 1px solid #8c84ed;
    background: #fff;
}
.screen__step_color_white .header
{
    color: #8c84ed;
}
.screen__step_color_white .code
{
    background: #ede0d5;
}
.screen__step_color_orange
{
    background: #8c84ed;
}

.screen__step_color_orange .header
{
    color: #fff;
}
.screen__step_color_orange .label
{
    color: #fff;
}
.screen__step_download
{
    margin-top: 170px;
}

.github-ribbon
{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}
