.b-page
{
    height: 1000vh;
    margin: 0;
    padding: 0;
}
.indicator
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 0;
    height: 20px;

    opacity: .25;
    background: #000;
}
.screen
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}
.screen_num_1
{
    background: #00557a;
}
.screen_num_1 .header
{
    font: 0px/1 Arial, Helvetica, sans-serif;

    position: absolute;
    top: 50%;

    width: 100%;

    text-align: center;

    color: #fff;
}
