html
{
    height: 8000px;
}
.b-page
{
    margin: 0;
    padding: 0;
}
.indicator
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;

    opacity: .25;
    background: #000;
    will-change: scale;
}
.screen
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.screen_num_1
{
    background: #00557a;
}

.screen_num_1 .header
{
    font: 150px/1 Arial, Helvetica, sans-serif;

    position: absolute;
    top: 50%;

    width: 100%;
    margin: 0;

    -webkit-transform: scale3d(0,1,1) translate3d(0, 0, 0);
            transform: scale3d(0,1,1) translate3d(0, 0, 0);
    text-align: center;

    color: #fff;
}
