html
{
    height: 9940px;
    min-height: 100%;
}
.b-page
{
    font: 14px Helvetica, Arial, sans-serif;

    height: 1px;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.comparing
{
    height: 100%;

    background-color: #ccc;
}
.demo
{
    position: relative;

    float: left;

    width: 49.9%;
    height: 100%;

    background-color: #fff;
}
.demo_smooth_no
{
    float: left;
}
.demo_smooth_yes
{
    float: right;
}
.demo__title
{
    font-size: 18px;
    font-weight: normal;

    position: fixed;
    top: 1em;

    display: inline-block;

    margin: 0;
    padding: 0;
}
.demo_smooth_no .demo__title
{
    left: 0;

    margin: 0 0 0 40px;
}
.demo_smooth_yes .demo__title
{
    left: 53%;
}
.divy
{
    position: fixed;
    top: 80px;

    width: 60px;
    height: 60px;

    background-color: #ffb205;
    border: 2px solid #c58a04;

    transform: translateZ(0);
}
.demo_smooth_no .divy
{
    left: 5%;
}
.demo_smooth_yes .divy
{
    left: 55%;
}
